body {
    background-color: rgb(24, 22, 22);
    background-size: cover;
}

.general {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ingreso {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.caja {
    border-color: rgba(19, 216, 1, 0.884);
    border-radius: 5px;
    font-size: 25px;

}
.resultados{
display: flex;
margin-left: 80px;
margin-right: 100px;
}

.boton {
    border-color: rgba(18, 238, 10, 0.904);
    margin-left: 20px;
    width: 150px;
    font-size: 25px;
}
.estructura {
    display: flex;
    flex-direction: column;
}

.validacion {
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parametros {
    font-size: 15px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.informacion {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 90px;

}
